<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:te="http://www.seasar.org/teeda/extension" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="../../css/mainte.css" />
</head>
<body>
検索結果<span id="allRecordCount">987543</span>件
<div id="isDisplayPagingNavi" class="pagingnavi">
	<div id="isExistPrePage">
		<a id="prePageLink" href="#">前へ</a>
	</div>
	<div id="pageNumberLinkItems">
		<div id="isNotCurrent">
			<a id="pageNumberLink" href="#"><span id="pageNumberElement">1</span></a>
		</div>
		<div id="isCurrent">
			<span id="pageNumberElement-current">2</span>
		</div>
	</div>
	[<span id="currentPageNumber">3</span>/<span id="allPageCount">12</span>]
	<div id="isExistNextPage">
		<a id="nextPageLink" href="#">次へ</a>
	</div>
	<input type="hidden" id="allRecordCount-hidden"></input>
	<input type="hidden" id="allPageCount-hidden"></input>
	<input type="hidden" id="currentPageNumber-hidden"></input>
	<input type="hidden" id="prePageLinkHref"></input>
	<input type="hidden" id="nextPageLinkHref"></input>
	<input type="hidden" id="pageNumberLinkItemsSave"></input>
</div>
</body>
</html>