<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:te="http://www.seasar.org/teeda/extension" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="../../css/mainte.css" />
	<title>会員編集</title>
</head>

<body>
<form id="editForm">
<h1>会員編集</h1>
<span id="allMessages"></span>
<hr />
<div class="edit">
<table>
	<tr>
		<td>会員ID</td>
		<td><span id="memberId">111</span><input id="memberId-hidden" type="hidden" /></td>
	</tr>
	<tr>
		<td>会員名</td>
		<td><input type="text" id="memberName" /></td>
	</tr>
	<tr>
		<td>誕生日</td>
		<td><input id="birthdate" type="text" class="T_date" te:threshold="50" /></td>
	</tr>
	<tr>
		<td>会員ステータス</td>
		<td>
			<select id="memberStatus">
				<option value="hoge">テスト会員</option>
			</select>
		</td>
	</tr>
	<tr>
		<td>会員アカウント</td>
		<td><input id="memberAccount" type="text" /></td>
	</tr>
	<tr>
		<td>正式会員日</td>
		<td><span id="formalizedDate">2008/06/01</span></td>
	</tr>
	<tr>
		<td>最終ログイン日時</td>
		<td><span id="latestLoginDatetime">2007/12/12 21:21:21</span></td>
	</tr>
	<tr>
		<td>更新日時</td>
		<td><span id="updateDatetime">2007/12/12/ 21:21:21</span></td>
	</tr>
</table>
<input type="hidden" id="memberStatusItemsSave" />
<input type="submit" id="doUpdate" value="更新" />
<input type="submit" id="doDelete" value="削除" />
</div>
<a id="goSearch" href="search.html">会員一覧</a>&nbsp;
</form>
</body>
</html>